<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-phone"></i> 8993129825
            </div>
            <div class="col-md-4">
                <i class="fas fa-envelope-open"></i> contact@vishwanathrealestate.co
            </div>
            <div class="col-md-4">
                <div class="social text-right">
                    <a href="https://twitter.com/VISHWANATHTS2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100005339329427">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/vishwanath-t-s-795121158/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/vishwanath.t.s/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>